<div class="header">
  <span class="item">项目</span>
  <span class="item active">动态</span><%# todo: active class to be dynamic %>
  <span class="item">周报</span>
  <span class="item">日历</span>
  <span class="item">团队</span>
  <span class="item">我自己</span>
</div>